{% extends 'base.html' %}
{% block head %}
	<style>
		.store-wrapper {
			margin-top: 50px;
		}
		.store-name {
			font-size: 3em;
			font-weight: bold;
			border-bottom: 1px solid black;
		}

		.customer-wrapper div {
			display: inline-block;
		}

	</style>
{% endblock %}
{% block content %}
{% for i in stores %}
	{% set store = stores[i] %}
	<div class="store-wrapper">
		<div class="store-name">{{ store.get("shop_name") }}</div>
		{% for j in store.get('shop_customers') %}
			{% set customer = store.get('shop_customers')[j] %}
			<div class="customer-wrapper">

				<div class="customer-name">{{ customer.get('name') }}</div>
				<div class="customer-total">{{ customer.get('sum')  }}</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
{% endblock %}