{% extends 'base.html' %}
{% block head %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<style type='text/css'>
div.container {
	margin-top: 100px;
	margin: 64px auto;
	width: 960px;
	height: 600px;
}

div.container .left {
	border: 1px solid #999;
	margin: 40px;
	padding: 20px;
	width: 400px;
	float: left;
}

div.container .right {
	border: 1px solid #999;
	padding: 20px;
	margin: 40px;
	width: 200px;
	float: right;
}

form#payment-form input {
	padding: 0px;
}

.gray {
	background: #f6f6f6;
	border-top: 1px solid #999;
	font-weight: bold;
}
</style>
{% endblock %}
{% block content %}
<div class='container'>
	<div class='left'>
		<strong>Payment Details</strong>
		<form id='payment-form' action='/hooray' method='POST'>
			<span class='error payment-errors' />
			
			<label for='card-number'>Card Number</label>
			<input type='text' class='card-number' /><br />

			<label for='card-cvc'>CVV Code</label>
			<input type='text' class='card-cvc' /><br />

			<label for='card-expiry-month'>Expiration Date</label>
			<input type='text' class='card-expiry-month' placeholder='MM' />
			<input type='text' class='card-expiry-year' placeholder='YY' /><br />
			<div id='submit-btn-content' class='float: right;' >
				<button type='submit' class='submit-button'><b>Finish</b></button>
			</div>
		</form>
	</div>
	<div class='right'>
		<div class='top'>
			<p>{{ addresses|length}} cards @ $1.99</p>
		</div>
		<div class='gray'>
			<p>Total: ${{ total_cost }}</p>
		</div>
	</div>
	<br style='clear: both;' />
</div>
<script type='text/javascript'>
Stripe.setPublishableKey('pk_07a3wApPn31k25MBWZgXxyTUPyR4U');

function stripeResponseHandler(status, response) {
    if (response.error) {
        // show the errors on the form
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
    } else {
        var form$ = $("#payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
        // and submit
        form$.get(0).submit();
    }
}

$(document).ready(function() {
  $("#payment-form").submit(function(event) {
    // disable the submit button to prevent repeated clicks
    $('.submit-button').attr("disabled", "disabled");

    Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
    }, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});
</script>
{% endblock %}
