{% extends 'base.html' %}

{% block head %}
<style>
	#submit-btn-content {
		float: right;
	}

	.panel {
		display: inline-block;
		height: auto;
		margin-top: 20px;
		margin-left: auto;
	}

	img {
		-webkit-user-select: none;
	}

	#fb-button, #twitter-button {
		width: 90px;
		height: 90px;
	}

	#fb-button {
		margin-right: 20px;
	}

	.preview img {
		width: 350px;
	}

	#container-front {
		margin-top: 100px;
	}


</style>
{% endblock %}
{% block content %}
<div id="container-front">
	<div class="thank-template-content-header">
		<div id="front-content-bottom-color">
			<div class="headline">
				<h1>Thank you! Your order has been completed successfully.</h1>
				<p>You should receive an email confirming your order shortly.</p>
			</div>
		</div>
	</div>
</div>
<div class="thank-template-content">
	<div class="order_num panel">
		<div class="info">	
			<h3>Order: #<span>123456</span></h3>
		</div>
		<p>Bill To:</p>
		<p>AMEX: ***** 1234, EXP: 05/16</p>
		<p>Royal Tenenabum</p>
		<p>10010</p>
		<p>10 Cards @ $1.90</p>
		<p>Order Total $19.90</p>
	</div>
	<div class="preview panel">
		<h3>Your Card</h3> 
		<img src="http://www.southpolestation.com/postcard/cp76back.jpg">
		<img src="http://images.uprinting.com/article_pages/postcard-design-designers-01.jpg">
	</div>
</div>
<div class="add-message">
	<div id="submit-btn-content" style="float:right">
		<form action="{{url_for('create_postcard')}}" method="get"><button type="submit" name="button" id="button"><b>Make Another Card >></b></button></form>
	</div>
</div>
{% endblock %}
