{% extends 'base.html' %}
{% block head %}
<style type='text/css'>
	.main {
		width: 960px;
		margin: auto;
		padding-top: 48px;
	}

		#container-front {
		margin-top: 100px;
	}


	.users-container input {
		width: auto;
	}

	.users-container ul {
		border-top: 1px solid #f6f6f6;
	}

	.users-container li {
		padding: 8px;
		border-bottom: 1px solid #f6f6f6;
	}
</style>
{% endblock %}
{% block content %}
<div id="container-front">
	<div class="template-content-header">
		<div id="front-content-bottom-color">	
			<div class="headline">
				<h1>Select Recipients</h1>
				<p>Choose from your list of Etsy customers.</p>
			</div>
		</div>
	</div>
</div>
<div class='main'>
	<div class='users-container'>
		<h3>Your Recent Customers</h3>
		<ul id='users'>
		</ul>
	</div>

	<div id='submit-btn-content' style='float: right'>
		<form id='recipients-form' action='/checkout' method='post'>
			<button type='submit' id='submit-button'>
				<b>Enter Payment Details</b>
			</button>
		</form>
	</div>
</div>

<script type='text/javascript'>
	function load_customers(customers) {
		$.each(customers, function(index) {
				customer = customers[index];
				address = JSON.stringify(customer);
				markup = $("<li><input type='checkbox' data-address='" + address + "' />" +
					customer.name +
					"<span style='display: inline-block; float: right;'>$" + customer.sum + "</span></li>");

				$('#users').append(markup);
		});
	}

	$(function() {
			users = []
			$.getJSON('/etsy/customers', function(data) {
				$.each(data, function(shop) {
					$.each(data[shop].shop_customers, function(customer) {
						users.push(data[shop].shop_customers[customer])
					});
				});

				load_customers(users);
			});

			addresses = []
			$('#submit-button').click(function() {
				elements = $('input:checked');
				elements.each(function(index) {
					addresses.push($(elements[index]).data('address'));
				});

				input = document.createElement('input');	
				input.type = 'hidden';
				input.name = 'addresses';
				input.value = JSON.stringify(addresses);
				$('#recipients-form').append(input);
			});
	});
</script>
{% endblock %}
